html,
body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  background-image: linear-gradient(rgb(0, 94, 202), rgb(97, 147, 212));
}

h1 {
  text-align: center;
  font-size: 3.5em;
  color: rgb(255, 208, 0);
  text-shadow: 0.1em 0.1em black;
}

h4 {
  text-align: left;
  font-size: 2em;
  color: rgb(255, 208, 0);
  text-shadow: 0.1em 0.1em black;
}


.content{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.controls {
  text-align: center;
  color: white;
}

.controls #red{
  color: red
}
.controls #yellow{
  color: yellow
}

.controls button {
  font-size: 1.2em;
  color: white;
  background-color: red;
  padding: 0.4em;
  border-radius: 35%;
  border: 3px solid white;
}

.controls button:hover {
  background-color: rgb(255, 116, 116);
  cursor: pointer;
}

.controls button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.score {
  font-size: 3em;
  font-weight: 800;
  align-content: center;
  margin: 1em;
}

.board {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
}

.board div {
  width: 40px;
  height: 40px;
  margin: 1px auto;
  background-color: blue;
  cursor: not-allowed;
}

.yellow {
  background-color: yellow;
  border-radius: 50%;
  cursor: not-allowed;
}

.red {
  background-color: red;
  border-radius: 50%;
  cursor: not-allowed;
}


.bg-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content{
  background: #333;
  color: white;
  margin: 10% auto; /* 1% from the top and centered */
  padding: 20px;
  width: 250px; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  -webkit-animation: animatebottom 0.5s ease-out ;
  animation: animatebottom 0.5s ease-out;
}

/* Add Animation */
@-webkit-keyframes animatebottom {
  from {transform: translateY(600px); opacity:0} 
  to {transform: translateY(0px); opacity:1}
}

@keyframes animatebottom {
  from {transform: translateY(600px);; opacity:0}
  to {transform: translateY(0px); opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 1em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(201, 0, 0);
  text-decoration: none;
  cursor: pointer;
}